<div class="books" >
    <table>
        <td>
            <a href="books/oathbreaker"><img src="images/oathbreaker.jpg" alt="The Oathbreaker's Shadow" id="thumbnail"></a>
        </td>
        <td>
            <a href="books/oathbreaker"><h2>The Oathbreaker's Shadow</h2></a>
        </td>
    </table>
</div>
<div class="books" >
    <table>
        <td>
            <a href="book1.html"><img src="images/ruby.jpg" alt="Ruby Red" id="thumbnail"></a>
        </td>
        <td>
            <a href="book1.html"><h2>Ruby Red</h2></a>
        </td>
    </table>
</div>
<div class="books" >
    <table>
        <td>
            <a href="book3.html"><img src="images/wool.jpg" alt="Wool" id="thumbnail"></a>
        </td>
        <td>
            <a href="book3.html"><h2>Wool</h2></a>
        </td>
    </table> 
</div>