<!DOCTYPE html>
<html>
    <title>World's Edge Library Ruby Red Description</title>
    <div class="index">
        <head>
            <link rel="stylesheet" href="../public/css/styles.css">
            <h1 style="padding: 20px;">World's Edge Library</h1>
        </head>
        <body>
            <div id="navigation">
                <a href="index.html"><button><b>Home</b></button></a>
                <a href="books.html"><button><b>Books</b></button></a>   
                <a href="honesty.html"><button><b>Honesty</b></button></a>              
            </div>
            <div class="bookimg" >
                <table>
                    <td>
                        <img src="images/ruby.jpg" alt="The Oathbreaker's Shadow" id="fullsize">
                    </td>
                    <td style="vertical-align: top">
                        <h2>Ruby Red</h2>
                        <h4>By Kerstin Gier</h4>
                        <p>
                            Gwen has always known that her family is different—the women, in particular. As time travelers, they are no strangers to the possibility of the impossible. But even they are't expecting it when Gwen shows signs of being a time traveler rather than her cousin Charlotte. Thrust into a world she should have been excluded from, Gwen is introduced to Gideon, a fellow traveler. Although the two don't get along, something other than annoyance might be brewing under the surface. As Gwen masters her new ability, she learns more abou therself than she ever could have imagined.
                        </p>
                    </td>
                </table>
            </div>
        </body>
        <footer>
            <h2 class="warning">Remember to be responsible! No hacking allowed!</h2>
        </footer>
    </div> 
</html>