<div class="bookimg" >
    <table>
        <td>
            <img src="<%= s.img %>" alt="<%= s.name %>" id="fullsize"></a>
        </td>
        <td style="vertical-align: top">
            <h2><%= s.name %></h2>
            <h4>By Amy McCulloch</h4>
            <p><%= s.description %></p>
        </td>
    </table>
</div>