<!DOCTYPE html>
<html>
    <title>World's Edge Library Oathbreaker Description</title>
    <div class="index">
        <head>
            <link rel="stylesheet" href="../public/css/styles.css">
            <h1 style="padding: 20px;">World's Edge Library</h1>
        </head>
        <body>
            <div id="navigation">
                <a href="index.html"><button><b>Home</b></button></a>
                <a href="books.html"><button><b>Books</b></button></a>
                <a href="honesty.html"><button><b>Honesty</b></button></a>               
            </div>
            <div class="bookimg" >
                <table>
                    <td>
                        <img src="images/oathbreaker.jpg" alt="The Oathbreaker's Shadow" id="fullsize">
                    </td>
                    <td style="vertical-align: top">
                        <h2>The Oathbreaker's Shadow</h2>
                        <h4>By Amy McCulloch</h4>
                        <p>In the world of fifteen-year-old Raim, you tie a knot for every promise you make. Break that promise and the knot will burst into flames, scarring your skin and forever marking you as an oathbreaker. Raim has worn a simple knot around his wrist for as long as he can remember. No one seems to know where it came from or which promise it symbolizes, and Raim barely thinks about it at all--especially not since he became the most promising young fighter ever to train for the elite Yun guard. But on the day that he binds his life to that of his best friend (and the future king), Khareh, the rope ignites and sears a dark mark into his skin. Scarred now as an oathbreaker, Raim has two options: run or be killed. He chooses to run, taking refuge in the vast desert among a colony of exiled oathbreakers. Will he be able to learn the skills he needs to clear his name? And even if he can, how can he keep a promise he never knew he made in the first place?</p>
                    </td>
                </table>
            </div>
        </body>
        <footer>
            <h2 class="warning">Remember to be responsible! No hacking allowed!</h2>
        </footer>
    </div> 
</html>