<!DOCTYPE html>
<html>
    <title>World's Edge Library Wool Description</title>
    <div class="index">
        <head>
            <link rel="stylesheet" href="../public/css/styles.css">
            <h1 style="padding: 20px;">World's Edge Library</h1>
        </head>
        <body>
            <div id="navigation">
                <a href="index.html"><button><b>Home</b></button></a>
                <a href="books.html"><button><b>Books</b></button></a> 
                <a href="honesty.html"><button><b>Honesty</b></button></a>                
            </div>
            <div class="bookimg" >
                <table>
                    <td>
                        <img src="images/wool.jpg" alt="The Oathbreaker's Shadow" id="fullsize">
                    </td>
                    <td style="vertical-align: top">
                        <h2>Wool</h2>
                        <h4>By Hugh Howey</h4>
                        <p>
                            In a ruined and hostile landscape, in a future few have been unlucky enough to survive, a community exists in a giant underground silo. Jules is part of this community, but she is different. She dares to hope. And as her walls start closing in, she must decide whether to fight, or to die.
                        </p>
                    </td>
                </table>
            </div>
        </body>
        <footer>
            <h2 class="warning">Remember to be responsible! No hacking allowed!</h2>
        </footer>
    </div> 
</html>