<div class="map" >
    <h3><blockquote>"I declare that this assignment is my own work in accordance with
            Seneca Academic Policy. No part of this assignment has been copied
            manually or electronically from any other source (including web sites)
            or distributed to other students."</blockquote></h3>
</div>
<div class="map" >
    <p>Name: Corinna Chang</p>
    <p>Student ID: 148394166</p>
    <p>Date: November 28, 2022</p>
</div>