<!DOCTYPE html>
<html>
    <title>World's Edge Library</title>
    <div class="index">
        <head>
            <link rel="stylesheet" href="../public/css/styles.css">
            <h1 style="padding: 20px">World's Edge Library</h1>
        </head>
        <body>
            <div id="navigation">
                <a href="index.html"><button><b>Home</b></button></a>
                <a href="books.html"><button><b>Books</b></button></a>
                <a href="honesty.html"><button><b>Honesty</b></button></a>             
            </div>
            <div class="map" >
                <h3><blockquote>"I declare that this assignment is my own work in accordance with
                        Seneca Academic Policy. No part of this assignment has been copied
                        manually or electronically from any other source (including web sites)
                        or distributed to other students."</blockquote></h3>
            </div>
            <div class="map" >
                <p>Name: Corinna Chang</p>
                <p>Student ID: 148394166</p>
                <p>Date: November 14, 2022</p>
            </div>
        </body>
        <footer>
            <h3 class="warning">Remember to be responsible! No hacking allowed!</h3>
        </footer>
    </div> 
</html>