<div style="margin: auto 0">
    <h3>Welcome to the library</h3>
    <p>Everyone is welcome. Book trading is encouraged. If you do not wish to interact with people we have a nook where books can be left to be picked up by a new soul.</p>
    <p>The navigation pane to the left will help you reach the other pages for the website.</p>
</div>
<div style="margin: auto 0">
    <h3>Library Rules</h3>
    <p>No music played without earbuds</p>
    <p>Do not take books home without checking them out as that is theft (taking a book from the nook without leaving a book also counts)</p>
    <p>If you have any liquids with you they must have a lid</p>
    <p>If you ruin any property you will pay for it to be replaced</p>
</div>