<!DOCTYPE html>
<html>
    <title>World's Edge Library</title>
    <div class="index">
        <head>
            <link rel="stylesheet" href="../public/css/styles.css">
            <h1 style="padding: 20px">World's Edge Library</h1>
        </head>
        <body>
            <div id="navigation"><%- include('partials/navigation')%></div>
            <%- body %>
        </body>
        <footer>
            <%- include('partials/footer') %>
        </footer>
    </div> 
</html>