<form action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="page" placeholder="Page" />
    <input type="text" name="description" placeholder="Description" />
    <input type="text" name="img" placeholder="Img" />
    <input type="submit" name="submit" />
</form>