<div class="bookimg" >
    <table>
        <td>
            <img src="/images/ruby.jpg" alt="Ruby Red" id="fullsize">
        </td>
        <td style="vertical-align: top">
            <h2>Ruby Red</h2>
            <h4>By Kerstin Gier</h4>
            <p>
                Gwen has always known that her family is different—the women, in particular. As time travelers, they are no strangers to the possibility of the impossible. But even they are't expecting it when Gwen shows signs of being a time traveler rather than her cousin Charlotte. Thrust into a world she should have been excluded from, Gwen is introduced to Gideon, a fellow traveler. Although the two don't get along, something other than annoyance might be brewing under the surface. As Gwen masters her new ability, she learns more about herself than she ever could have imagined.
            </p>
        </td>
    </table>
</div>