<div class="bookimg" >
    <table>
        <td>
            <img src="/images/wool.jpg" alt="Wool" id="fullsize">
        </td>
        <td style="vertical-align: top">
            <h2>Wool</h2>
            <h4>By Hugh Howey</h4>
            <p>
                In a ruined and hostile landscape, in a future few have been unlucky enough to survive, a community exists in a giant underground silo. Jules is part of this community, but she is different. She dares to hope. And as her walls start closing in, she must decide whether to fight, or to die.
            </p>
        </td>
    </table>
</div>